



    <tr>

      <td class="pika"> <img src="" alt="" /> </td>
      <td class="pika"> <img src="https://files.gamebanana.com/img/ico/sprays/pokemon_running_side_animated.gif" alt="" /> </td>

    </tr>
    <tr>
      <td colspan=2 class='cnsl'><div class="status"> <span></span> <br>
          <a href="#">> Nothing here....</a><br>

          <a href="http://localhost:8800/Game/staging">> Continue</a>

        </div></td>
    </tr>
