
<% tfetch(QString, name); %>
<% tfetch(QString, url); %>
<% tfetch(QString, message); %>

    <tr>
      <td class="pika"> <img src="https://files.gamebanana.com/img/ico/sprays/pokemon_running_side_animated.gif" alt="" /> </td>
      <td class="chrm"> <img src="<%=url%>" alt="" /> </td>


    </tr>
    <tr>
      <td colspan=2 class='cnsl'><div class="status"> <span></span> <br>
          <a href="#"> You found a .....<%= name%>!</a><br>
          <a href="#"> <%= message%>!</a><br>

          <a href="http://localhost:8800/Game/dice_roll">> Continue?</a> <br>


        </div></td>
    </tr>
