

<% tfetch(int, dice); %>
<% tfetch(int, updated_player_space); %>

    <tr>


      <td class="pika"> <img src="https://files.gamebanana.com/img/ico/sprays/pokemon_running_side_animated.gif" alt="" /> </td>

    </tr>
    <tr>
      <td colspan=2 class='cnsl'><div class="status"> <span></span> <br>
          <a href="#">>>>>><%=updated_player_space%></a>
          <a href="#">> Dice rolls.....</a><br>
          <a href="#">> You rolled a ...<%=dice%>   !</a><br>
          <a href="http://localhost:8800/Game/loop">> Explore</a><br>
          <a href="http://localhost:8800/Game/staging">> Continue</a> <br>


        </div></td>
    </tr>
